PORT=4442

DB_PORT=5432
DB_URL=postgresql://neondb_owner:npg_n0aLu8kmTyOV@ep-odd-frog-a4y0k1ow-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_HOST=localhost
DB_USER=miebale123  
DB_PASSWORD=yourpassword
DB_LOGGING=false
DB_NAME=HouseManagement
AUTOLOADENTITIES=true
DB_SYNCHRONIZE=true


BCRYPT_SALT_ROUNDS=12
JWT_SECRET=TOPSECRET
RESET_PASSWORD_SECRET=12345

FRONTEND_LOCAL=http://localhost:4200

#private things

ADMIN_EMAIL=admin@gmail.com 
ADMIN_PASS=secure

CLOUDINARY_NAME=dljkp0hka
CLOUDINARY_KEY=432542282457729
CLOUDINARY_SECRET=i-j2CWSkuerim-oCJqvrBP4OveI

EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=




